/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
#featured {
  display: block;
  width: 100%;
  background: red;
}

.featured-col-1 {
  float:left;
  width:700px;
  background:blue;
  margin-right:10px;
  padding: 0px;
}

.featured-col-2 {
  float:left;
  background:gray;
  padding:0px;
  margin-left: 10px;
  margin-right: 0px;
  width: 25%;
}

.cols-1 {
  float: left;
  width:310px;
  background:gray;
  margin: 2% 2% 2% 0%;
  clear:both;
}

.cols-2 {
  background:green;
  float:left;
  width: 310px;
  margin: 2% 0% 2% 0%;  
}

.cols-3 {
  float:left;
  background:blue;
  width: 310px;
  margin: 2% 0% 2% 2%;
  overflow: auto;
}


