/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */
.featured-col-1 {
  float:left;
  width:70%;
  background:red;
}

.featured-col-2 {
  float:left;
  margin: 2%;
  background:gray;
}

#deals-col-1 {
  float: left;
  width: 30%;
  background:gray;
}

#deals-col-2 {
  background:pink;
}

#deals-col-3 {
  background:blue;
}


